@import "../base/constants";


@mixin tableCellGeometry() {
    padding: $table-padding;
    min-height: $table-row-height;
    height: $table-row-height;

    &:first-child {
        padding-left: 16px;
    }

    &:last-child {
        padding-right: 16px;
    }
}
